### Archivos de compilación y empaquetado de Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Archivos de configuración de IDEs ###

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# Visual Studio Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbproject/load-path.rc
/nbproject/genfiles.properties

### VS Code ###
.vscode/
docker-compose.yml
### Logs y archivos temporales del sistema ###
*.log
*.tmp
*.bak
*.swp
*~.nib
.DS_Store
Thumbs.db

### Archivos de configuración local y credenciales (Recomendado) ###
application-local.properties
application-local.yml
deploy.sh